---
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Immersia Lab</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background: #000;
	}

	html {
		scrollbar-width: none;
	}
	html::-webkit-scrollbar {
		display: none;
	}

	#smooth-wrapper {
		overflow: hidden;
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 4;
	}

	#smooth-content {
		overflow: visible;
		width: 100%;
	}
</style>
